* {
  box-sizing: border-box;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #F0F9FF;
}
